NFS_SERVER=

# Key values should match between NFS_DISKS and MOUNT_POINTS arrays, even tho the value can be different, for example in nfs server the disk is called WINDOWS but in the client it is called SSD-120-WIN, the key is SSD-120-WIN and it should be in both arrays

# NFS DISKS is a key:value array where the key is the name/id of the directory and the value is the path to that directory in the nfs server 
NFS_DISKS=(
    "ID1:SERVER_DIR1"
    "ID2:SERVER_DIR2"
    "ID3:SERVER_DIR3"
)

# MOUNT_POINTS is a key:value array where the key is the name/id of the directory and the value is the path to that directory in the nfs client
MOUNT_POINTS=(
    "ID1:/mnt/CLIENT_DIR1"
    "ID2:/mnt/CLIENT_DIR2"
    "ID3:/mnt/CLIENT_DIR3"
)
